@import "tailwindcss";

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CormorantGaramond-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'LibertinusSerif';
  src: url('/fonts/LibertinusSerif-SemiBoldItalic.ttf') format('truetype');
}

.eyrixett1 {
  font-family: 'CormorantGaramond', sans-serif;
}

.eyrixett2 {
  font-family: 'LibertinusSerif', sans-serif;
}

